<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.simulasiekonomi.riseofsovereigns">

    <application
        android:label="Rise of Sovereigns"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name="org.godotengine.godot.GodotActivity"
            android:label="Rise of Sovereigns"
            android:exported="true"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|density|layoutDirection|fontScale|screenLayout|uiMode|locale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data android:name="godot-project-name" android:value="Rise of Sovereigns"/>
        <meta-data android:name="godot-project-version" android:value="1.0"/>
    </application>
</manifest>
