name: Godot Android Build

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  export-android:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Setup Godot
        uses: godotengine/setup-godot@v3
        with:
          version: "4.5.1"
          use_dotnet: false
          export_templates: true

      - name: Restore debug keystore
        run: |
          mkdir -p android/app
          echo "${{ secrets.DEBUG_KEYSTORE }}" | base64 --decode > android/app/debug.keystore

      - name: Export Android APK
        uses: godotengine/godot-export@v3
        with:
          presets: "Android"
          path: "."
          export_debug: false

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: RiseOfSovereigns
          path: export/Android/*.apk
