name: Godot Android Export

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  export:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Export Android
      uses: firebelley/godot-export@v5.2.0
      with:
        godot_executable_download_url: "https://downloads.tuxfamily.org/godotengine/4.2.2/Godot_v4.2.2-stable_linux.x86_64.zip"
        godot_export_templates_download_url: "https://downloads.tuxfamily.org/godotengine/4.2.2/Godot_v4.2.2-stable_export_templates.tpz"
        relative_project_path: "."
        relative_export_path: "build/"
        use_preset_export_path: false
        export_debug: false
        verbose: true

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: Android-APK
        path: build/**
