name: Godot Android Export

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  export-android:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Godot
        uses: godotengine/setup-godot@v2
        with:
          version: '4.1.2'
          use-dotnet: false

      - name: Godot Export Android
        uses: godotengine/godot-export@v2
        with:
          preset: "Android"
          path: "."
          export_path: "build/RoS.apk"

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Rise-of-Sovereigns-APK
          path: build/RoS.apk
