name: Android Build

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Restore keystore
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > debug.keystore

      - name: Setup Godot
        uses: firebelley/setup-godot@v2
        with:
          godot-version: "4.5.1"
          version-type: "stable"
          use-dotnet: false

      - name: Export Android
        uses: firebelley/godot-export@v5
        with:
          godot-version: "4.5.1"
          export-debug: false
          relative-project-path: .
          relative-export-path: ./build/RiseOfSovereigns.apk

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: RiseOfSovereigns
          path: build/RiseOfSovereigns.apk
