name: Godot Android Export (4.5.1)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  export:
    runs-on: ubuntu-latest
    timeout-minutes: 120

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Restore keystore from secret
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > android/debug.keystore

      - name: Setup Godot
        uses: firebelley/setup-godot@v2
        with:
          godot-version: "4.5.1"
          version-type: "stable"
          use-dotnet: false

      - name: Export Android
        uses: firebelley/godot-export@v5.2.0
        with:
          godot_executable_download_url: "https://github.com/godotengine/godot/releases/download/4.5.1-stable/Godot_v4.5.1-stable_linux.x86_64.zip"
          godot_export_templates_download_url: "https://github.com/godotengine/godot/releases/download/4.5.1-stable/Godot_v4.5.1-stable_export_templates.tpz"
          relative_project_path: "."
          relative_export_path: "build/"
          use_preset_export_path: false
          export_debug: false
          verbose: true

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: RiseOfSovereigns-APK
          path: build/**
