name: Godot Android Build

on:
  workflow_dispatch:

jobs:
  export:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Godot
        uses: bsmg/godot-export@v5
        with:
          godot_version: "4.5.1"

      - name: Restore debug keystore
        run: |
          mkdir -p android/app
          echo "${{ secrets.DEBUG_KEYSTORE }}" | base64 --decode > android/app/debug.keystore

      - name: Export APK
        run: |
          mkdir -p build
          godot --headless --export-release "Android" build/RiseOfSovereigns.apk

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: RiseOfSovereigns
          path: build/*.apk
